--SELECTS
SELECT *
FROM Location;

SELECT address
FROM Location;

Select *
FROM SoldOnDay
WHERE price > 100;

Select price
From SoldOnDay
WHERE price < 100;

SELECT *
FROM employee
WHERE name_='Михайло' AND surname='Ватолкін';

SELECT doc_id AS "ID of Document"
FROM employeedoc;

SELECT doc_id,emp_id,
concat(doc_id,'|',emp_id) AS combined_id
FROM employeedoc
WHERE doc_id BETWEEN 1 AND 3;

SELECT DISTINCT loc_city
FROM soldonday;

SELECT surname
FROM employee
WHERE LOWER(surname) = 'антоненко';

SELECT sold_id
FROM soldonday
WHERE (price>100 AND loc_city='Львів');

SELECT *
FROM soldonday
WHERE price IN (50,95);

SELECT *
FROM document
WHERE expire_date IS NULL;

SELECT *
FROM document
WHERE active_from IS NOT NULL;

SELECT *
FROM employee 
WHERE surname LIKE 'Ва%' 
OR surname LIKE '%ко';

SELECT current_price,title
FROM item
ORDER BY 1 ASC;

SELECT current_price,title
FROM item
ORDER BY 2 ASC, 1 DESC;

SELECT COUNT(DISTINCT loc_city) as "CCCount"
FROM soldonday;

SELECT COUNT(*) as "CCCount"
FROM soldonday
WHERE loc_city='Вінниця';

SELECT SUM(price) AS "Сума продажів"
FROM soldonday;

SELECT SUM(price) AS "Сума продажів з Харкова"
FROM soldonday
WHERE loc_city='Львів';

SELECT MIN(price) AS "Мінімум"
FROM soldonday;

SELECT MAX(price) AS "Максимум"
FROM soldonday;

SELECT AVG(price) AS "Середнє"
FROM soldonday;

--sequence from task

INSERT INTO document (loc_id,title,issue_date)
VALUES
(3,'якийсь документ 1','2025-10-30'),
(3,'якийсь документ 2','2025-10-30'),
(2,'якийсь документ 3','2025-10-30');

UPDATE document
SET is_denied = true
WHERE title = 'якийсь документ 1' 
   OR title = 'якийсь документ 2' 
   OR title = 'якийсь документ 3';

DELETE FROM document
WHERE doc_id IN (SELECT doc_id FROM document WHERE doc_id > 5);

SELECT *
FROM document;




